!/bin/data/                           
[Bb]uild/                  
[Oo]bj/                    
*.o                        
[Dd]ebug*/                 
[Rr]elease*/               
.vscode/
*.mode*                    
*.pyc                      
.svn/                      
*.log                                         
*.pbxuser          
*.perspective      
*.perspectivev3    
*.mode2v3          
xcuserdata         
*.xcworkspace              
*.depend           
*.layout           
*.sdf              
*.opensdf          
*.pdb              
*.ilk              
*.aps              
ipch/              
.metadata          
local.properties   
.externalToolBuilders
/bin/*                     
*.mode1v3          
.directory
.AppleDouble     
.DS_Store
*.swp
*~.nib
._*
*.app/                     
*.suo              
Thumbs.db
Desktop.ini
.csettings
.vscode/browse.db
.vscode/browse.db-shm



